@model LuanVanTotNghiep.ViewModel.DatBan

@{
    ViewBag.Title = "Đặt bàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var session = (LuanVanTotNghiep.Common.getInfoKhachHang)Session[LuanVanTotNghiep.Common.CommonConstantClient.TaiKhoan];
}
<div class="container">
    <div class="row">
        @using (Html.BeginForm("datban", "datban", FormMethod.Post, new { @class = "form-horizontal", @id = "form-validation" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Đặt bàn</li>
            </ol>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
            </div>
            @if (session == null)
            {
                <div class="form-group">
                    <label class="control-label col-sm-2">Họ và tên</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "validate[required] form-control", @type = "text", @name = "hoten", @id = "hoten", @placeholder="Họ và tên" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Số điện thoại</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "validate[required,custom[phone]] form-control", @type = "text", @name = "sdt", @id = "sdt", @placeholder="Số điện thoại" } })
                    </div>
                </div><div class="form-group">
                    <label class="control-label col-sm-2">Email</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "validate[required,custom[email]] form-control", @type = "text", @name = "email", @id = "email", @placeholder="Vui lòng nhập đúng Email" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Số lượng người đến</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "validate[required,custom[number]] form-control", @type = "text", @name = "SoLuong", @id = "SoLuong" , @placeholder ="Số lượng"} })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Ngày đến</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.ngayden, new { htmlAttributes = new { @class = "validate[required,custom[date],future[NOW]] form-control", @type = "date", @name = "ngayden", @id = "ngayden", @placeholder="Ngày đến" } })

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Giờ đến</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.gioden, new { htmlAttributes = new { @class = "validate[required] form-control", @type = "time", @name = "gioden", @id = "gioden", @placeholder="Giờ đến" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-lg-offset-2">
                        <input type="submit" value="Xác nhận" class="btn btn-success">
                        <input type="reset" value="Đặt lại" class="btn btn-default" onclick="notify()">
                    </div>
                </div>
            }
            else
            {
            <div class="form-group">
                <label class="control-label col-sm-2">Số lượng người đến</label>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "validate[required,custom[number]] form-control", @type = "text", @name = "SoLuong", @id = "SoLuong", @placeholder = "Số lượng" } })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày đến</label>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.ngayden, new { htmlAttributes = new { @class = "validate[required,custom[date],future[NOW]] form-control", @type = "date", @name = "ngayden", @id = "ngayden", @placeholder = "Ngày đến" } })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giờ đến</label>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.gioden, new { htmlAttributes = new { @class = "validate[required] form-control", @type = "time", @name = "gioden", @id = "gioden" , @placeholder = "Giờ đến" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-lg-offset-2">
                    <input type="submit" value="Xác nhận" class="btn btn-success">
                    <input type="reset" value="Đặt lại" class="btn btn-default" onclick="notify()">
                </div>
            </div>
            }
        </div>
        }
        <button class="btn btn-default"><a href="/"><span class="glyphicon glyphicon-arrow-left"></span>Quay lại</a></button>
    </div>
</div>
<br />
<br />
<br />

@section scripts{
    <script>
        jQuery(document).ready(function () {
            // binds form submission and fields to the validation engine
            jQuery("#form-validation").validationEngine();
        });

    </script>  
    <script type="text/javascript">
        function notify() {
            $.notify("Vui lòng điền lại thông tin", "success");
        }
    </script>
}

