@using LuanVanTotNghiep.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<LuanVanTotNghiep.Models.MONAN>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="banner1">
                    <div class="banner-info">
                        <h3>Morbi lacus hendrerit efficitur.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner2">
                    <div class="banner-info">
                        <h3>Phasellus elementum tincidunt.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner3">
                    <div class="banner-info">
                        <h3>Maecenas interposuere volutpat.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!---->
<script src="~/Assets/client/js/bootstrap.js"></script>
<br />
<br />
<div class="offers">
    <div class="container">
        <h3>Danh sách món ăn</h3>
    </div>
</div>
<!--san pham-->
<div class="items">
    <div class="container">
        <div class="items-sec">
            @foreach (var item in Model)
            {
                var link = "/sanpham/chitiet/" + item.MAMON;
                <div class="col-sm-3 feature-grid">

                    <a href="@link">

                        <img src="@item.HINHANH.DUONGDAN1" alt="@item.TENGOI" />
                        <div class="arrival-info">
                            <h4 style="color:black">@item.TENGOI</h4>
                            <p style="color:red">Giá @item.DONGIA.GetValueOrDefault(0).ToString("#,##0").Replace(',', '.') VND</p>
                            @*<p class="item_add items">@Ajax.ActionLink("THÊM VÀO GIỎ HÀNG", "ThemGioHang", "giohang", new { @productID = item.MAMON, @strURL = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace })</p>*@
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @productID = item.MAMON, @quantity = 1, @strURL = Request.Url.ToString() }))
                            {
                                <input type="submit" style="cursor:pointer" value="Thêm vào giỏ hàng" id="btnGioHang" class="item_add items">
                            }
                            @*<a class="btn cart" href="/giohang/AddItem?productId=@item.MAMON&quantity=1"><span class="glyphicon glyphicon-shopping-cart"></span></a>*@

                        </div>
                        <div class="viw">
                            <a href="@link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Chi tiết</a>
                        </div>
                    </a>
                </div>
            }
            <div class="clearfix"></div>
        </div>  
        <div class="dlink" style="float: right">

            @Html.PagedListPager(Model, page => Url.Action("index", "home", new { @page = page }))
            đang ở trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount trang
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $(".add-to-cart").click(function () {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/giohang/Add",
                    data: { id: pid },
                    success: function (response) {
                        alert("Add to cart success!");
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                src = $("#i" + pid).attr("src");
                newcssfly = cssfly.replace("?", src);
                $("#cart-fly").html(newcssfly);

                options = { to: "#nn-cart-image", className: "fly-effect" };
                $("#i" + pid).effect("transfer", options, 500, function () { });
            });
        });
    </script>
}