@model LuanVanTotNghiep.Models.MONAN
@{
    var ten = (LuanVanTotNghiep.Models.MONAN)ViewBag.Name;
    ViewBag.Title = ten.TENGOI;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Category = (LuanVanTotNghiep.Models.LOAIMONAN)ViewBag.Category;
}
<style>
    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .khunganh {
        position: relative;
        width: 100%;
        height: 100%;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #fff;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #fff;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 20%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.5;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
</style>
<div class="product">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>@Category.TENLOAI</li>
            <li class="active">@Model.TENGOI</li>
        </ol>
        <div class="product-price1">
            <div class="top-sing">
                <div class="col-md-6">
                    <div class="flexslider">
                        <div class="khunganh">
                            <div class="mySlides">

                                <img src="@Model.HINHANH.DUONGDAN1" style="width:100%">
                            </div>

                            <div class="mySlides">

                                <img src="@Model.HINHANH.DUONGDAN2" style="width:100%">
                            </div>

                            <div class="mySlides">

                                <img src="@Model.HINHANH.DUONGDAN3" style="width:100%">
                            </div>

                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>

                            <div class="row" style="margin-left:200px" >
                                <div class="column">
                                    <img class="demo cursor" src="@Model.HINHANH.DUONGDAN1" style="width:100%" onclick="currentSlide(1)">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="@Model.HINHANH.DUONGDAN2" style="width:100%" onclick="currentSlide(2)">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="@Model.HINHANH.DUONGDAN3" style="width:100%" onclick="currentSlide(3)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-para ">
                        <h4>@Model.TENGOI</h4>
                        <h5 class="item_price">@Model.DONGIA VND</h5>
                        <p class="para">
                            Mô tả : @Model.MOTA
                        </p>
                        <div class="prdt-info-grid">
                            <ul>
                                <li>- Đơn vị tính: @Model.DONVITINH.TENDVTINH</li>
                            </ul>
                        </div>
                        <div class="check">
                            <form class="navbar-form"></form>
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @productID = Model.MAMON, @quantity = 1, @strURL = Request.Url.ToString() }))
                            {
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Nhận số lượng" style="width:200px">
                                </div>
                                @*<button type="submit" class="btn btn-default">Verify</button>*@
                                <input type="submit" style="cursor:pointer" value="Thêm vào giỏ hàng" id="btnGioHang" class="btn btn-primary">
                            }
                        </div>
                        
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--san pham cung loai-->
        <div style="color:red">Sản phẩm tương tự</div>
        <div class="bottom-prdt">
            <div class="btm-grid-sec">
                <div class="col-md-2 btm-grid">
                    <a href="product.html">
                        <img src="images/p3.jpg" alt="" />
                        <h4>Product#1</h4>
                        <span>$1200</span>
                    </a>
                </div>
                <div class="col-md-2 btm-grid">
                    <a href="product.html">
                        <img src="images/p10.jpg" alt="" />
                        <h4>Product#1</h4>
                        <span>$700</span>
                    </a>
                </div>
                <div class="col-md-2 btm-grid">
                    <a href="product.html">
                        <img src="images/p5.jpg" alt="" />
                        <h4>Product#1</h4>
                        <span>$1300</span>
                    </a>
                </div>
                <div class="col-md-2 btm-grid">
                    <a href="product.html">
                        <img src="images/p4.jpg" alt="" />
                        <h4>Product#1</h4>
                        <span>$9000</span>
                    </a>
                </div>
                <div class="col-md-2 btm-grid">
                    <a href="product.html">
                        <img src="images/p2.jpg" alt="" />
                        <h4>Product#1</h4>
                        <span>$450</span>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>