@model LuanVanTotNghiep.ViewModel.RegisterModel

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Account</li>
    </ol>
    <div class="row">
        <div class="column">
            <div class="registration_left">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Tạo mới tài khoản </h1>
                    @using (Html.BeginForm("dangky", "nguoidung", FormMethod.Post, new { @class = "form-horizontal", @id = "form-validation" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success">@ViewBag.Success</div>
                            }
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Họ và tên: </label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate[required] form-control", @name = "Name", @id = "Name" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Đia chỉ: </label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "validate[required] form-control", @name = "Address", @id = "Address" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">E-mail: </label>

                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate[required,custom[email]] form-control", @type = "text", @name = "Email", @id = "Email" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Số điện thoại: </label>

                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "validate[required,custom[number]] form-control", @type = "text", @name = "sdt", @id = "sdt" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Tên đăng nhập : </label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "validate[required] form-control", @type = "text", @name = "UserName", @id = "UserName" } })

                            </div>
                        </div>
                    <div class="form-group">
                            <label class="control-label col-sm-3">Mật khẩu: </label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "validate[required,minSize[6],maxSize[20]] form-control", @type = "password", @name = "Password", @id = "Password" } })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Nhập lại mật khẩu</label>
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "validate[required,equals[Password]] form-control", @type = "password", @name = "ConfirmPassword", @id = "ConfirmPassword" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Ngày sinh</label>

                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "validate[required,custom[date]] form-control", @type = "date", @name = "Birthday", @id = "Birthday" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Giới tính</label>
                            <div class="col-lg-8">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @value = "true", @name = "Sex", @id = "Sex" } }) <p>Nam</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <input type="submit" value="Đăng ký" class="item_add items">
                                <input type="reset" value="Reset" class="btn btn-primary">
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="column">
            <div class="registration_left">
                <h2>existing user</h2>
                <div class="registration_form">
                    <!-- Form -->
                    <form>
                        <div>
                            <label>
                                <input placeholder="email" type="email" tabindex="3" required>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input placeholder="password" type="password" tabindex="4" required>
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="sign in">
                        </div>
                        <div class="forget">
                            <a href="#">forgot your password</a>
                        </div>
                    </form>
                    <!-- /Form -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


</div>


@section scripts{
    <script>
        jQuery(document).ready(function () {
            // binds form submission and fields to the validation engine
            jQuery("#form-validation").validationEngine();
        });

    </script>
}
