
@using LuanVanTotNghiep.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<LuanVanTotNghiep.Models.DONDATBAN>

@{
    var session = (LuanVanTotNghiep.Common.getInfoKhachHang)Session[LuanVanTotNghiep.Common.CommonConstantClient.TaiKhoan];
}
@{
    ViewBag.Title = "Thông tin đặt bàn | " + session.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li>
                <a data-toggle="tab" href="/nguoidung/thongtinchitiet/@session.ID">
                    <i class="green ace-icon fa fa-user bigger-120"></i>
                    Thông tin chi tiết
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="/nguoidung/thongtingiohang/@session.ID">
                    <i class="orange ace-icon glyphicon glyphicon-shopping-cart bigger-120"></i>
                    Thông tin giỏ hàng
                </a>
            </li>

            <li class="active">
                <a data-toggle="tab" href="/nguoidung/thongtindondatban/@session.ID">
                    <i class="blue ace-icon fas fa-table bigger-120"></i>
                    Thông tin đơn đặt bàn
                </a>
            </li>
        </ul>
        <div id="thongtindondatban" class="tab-pane in active">
            <div class="profile-feed row">
                <table class="table" style="width:50%; margin-left:100px; border:1px">
                    <thead style="background-color:springgreen">
                        <tr>
                            <th scope="col">Stt</th>
                            <th scope="col"width="150">Người duyệt</th>
                            <th scope="col" width="150px">Số lượng khách</th>
                            <th scope="col">Ngày đến</th>
                            <th scope="col">Giờ đến</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1; }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@i</th>
                            @if (item.MATAIKHOAN.ToString() == "")
                            {
                                <td width="150px">Chờ duyệt</td>
                            }
                            else
                            {
                                <td width="150px">@item.TAIKHOAN.QUYENSD</td>
                            }
                            <td width="150px">@item.SOLUONGNGUOI</td>
                            <td>@item.NGAYDEN.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.GIODEN.Value.ToString("hh:mm:ss")</td>
                            <td width="350px">
                                @if (item.TRANGTHAIDATBAN == true)
                                {
                                        <span>Đã duyệt! Trước khi đến vui lòng liên hệ với nhà hàng. Cám ơn</span>
                                 }
                                    else
                                    {
                                        <span class="alert alert-error">Chờ duyệt! Đang xem bàn còn trống, vui lòng chờ...</span>
                                    }
                                </td>


                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <div class="dlink" style="margin:50px; float: left">

                    @Html.PagedListPager(Model, page => Url.Action("thongtindondatban", "nguoidung", new { @page = page }))
                    Tổng số trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
                </div>
            </div><!-- /.row -->

            <div class="space-12"></div>
            <br />
            <br />
            <br />
            <br />
        </div><!-- /#feed -->
    </div>
</div>